@media (max-width:425px) {
   .cabecalho {
      display: none;
   }
   
   .barra-menu{
      flex-direction: column;
      height: auto;
      align-items: flex-start;
   }
   
   .menu-lista{
      flex-direction: column;
      display: none;
   }
   
   .menu-lista.menu-ativo{
      display: block;
   }
   
   .carrosel{
      width: 100%;
   }
   
   .carrosel .container{
      width: 80%;
      margin: 0 auto;
   }
   
   .img_carrosel{
      width: 100%;
   }
   
   .sticky{
      position: initial;
   }
   
   .fa-3x{
      font-size: 2em;
   }
   
   .cabecalho-mobile{
      display: flex;
      justify-content: space-between;
      width: 95%;
      font-size: 20px;
      padding: 2%;
   }

   .area-exclusiva-nav{
      display: none;
   }
   
   /* ############################# */
   .cursos{
      width: 95%;
   }
   
   .cursos .container{
      flex-direction: column;
   }
   
   .card-cursos{
      width: 100%;
   }
   
   .noticias{
      width: 95%;
      margin-top: 20%;
   }
   
   .noticias .container{
      flex-direction: column;
      width: 100%;
   }
   
   .card-noticias{
      width: 100%;
   }
   
   .img-card-noticias{
      width: 100%;
   }
   
   
   
   
   
   /* ############################# */
   
   .rodape{
      height: auto;
   }
   
   .rodape .container{
      flex-direction: column;
   }
   .endereco{
      width: 100%;
   }
   
   
}